SITE_URL=http://localhost:4321
PUBLIC_GITHUB_REPO=IamAzmathullaShaikh/Emberbird
PUBLIC_GITHUB_REPO_URL=https://github.com/IamAzmathullaShaikh/Emberbird
PUBLIC_RELEASES_URL=https://github.com/IamAzmathullaShaikh/Emberbird/releases
