SITE_URL=http://localhost:4321
PUBLIC_GITHUB_REPO=IamAzmathullaShaikh/WSABuilds
PUBLIC_GITHUB_REPO_URL=https://github.com/IamAzmathullaShaikh/WSABuilds
PUBLIC_RELEASES_URL=https://github.com/IamAzmathullaShaikh/WSABuilds/releases
