# WSABuilds Manager Environment Configuration
VITE_PUBLIC_GITHUB_REPO=IamAzmathullaShaikh/WSABuilds
VITE_PUBLIC_GITHUB_REPO_URL=https://github.com/IamAzmathullaShaikh/WSABuilds
VITE_PUBLIC_RELEASES_URL=https://github.com/IamAzmathullaShaikh/WSABuilds/releases
